.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

